language: python
python:
  - "3.6"

git:
    submodules: false
before_install:
    - sed -i 's/git@github.com:/https:\/\/github.com\//' .gitmodules
    - git submodule update --init --recursive
    - git checkout .gitmodules

install:
  - pip install cfn-lint taskcat awscli
  - curl -L
  https://github.com/rebuy-de/aws-nuke/releases/download/v2.12.0/aws-nuke-v2.12.0-linux-amd64
  -o aws-nuke && chmod +x aws-nuke && mv aws-nuke /usr/local/bin

script:
  - make test

after_script:
  - make nuke

deploy:
  provider: script
  script: make sync BRANCH=$TRAVIS_BRANCH
  on:
    branch:
      - master
      - develop
