[Unit]
Description=Airflow celery worker daemon
After=network.target postgresql.service mysql.service redis.service rabbitmq-server.service
Wants=postgresql.service mysql.service redis.service rabbitmq-server.service

[Service]
EnvironmentFile=/etc/sysconfig/airflow.env
ExecStart=/usr/local/bin/airflow celery worker
User=ec2-user
Group=ec2-user
Restart=on-failure
RestartSec=10s
KillMode=mixed
TimeoutStopSec=24h

[Install]
WantedBy=multi-user.target
